# Environment and secrets
.env

# Node
node_modules/

data/

# Quarto intermediate files
.quarto/

# R artifacts
.Rproj.user
.Rhistory
.RData
.Rproj.user/

# OS files
.DS_Store

/.quarto/
**/*.quarto_ipynb
